{% extends 'base.html' %}
{% block title %}
    Play a Story - {{ story.story_name }}
{% endblock %}

{% block content %}
{% if story is not None %}
    <h1>{{ story.story_name|title }}</h1>

    {% if storyblock is None %}
        <p>This story is not ready to play (missing story blocks). Please <a href="{{ story.get_edit_story_url }}">edit the story.</a></p>
    {% else %}
            <img src="{{ storyblock.block_image }}" alt="{{ storyblock.block_image_alt }}">
            <br />
            <p>{{ storyblock.block_text }}</p>
            <hr />
            <br />
            <a href="/play-story/{{ storyblock.next_block1_slug }}"><button>{{ storyblock.next_block1_txt }}</button></a>
            <a href="/play-story/{{ storyblock.prev_block_slug }}"><button>{{ storyblock.prev_block_txt }}</button></a>
            <a href="/play-story/{{ storyblock.next_block2_slug }}"><button>{{ storyblock.next_block2_txt }}</button></a>
    {% endif %}

{% else %}
    
    <p>You have not chosen a story to play.</p>

{% endif %}
{% endblock %}