{% extends 'base.html' %}
{% block title %}
    {{story_choice.adv_id}}
{%  endblock %}

{% block script %}
{% endblock %}
{% block content %}
    <h1>{{ story_choice.story_id }} Story</h1>
{% if error is not None %}
{{ error }}
{% else %}
{% endif %}
<img src="{{ story_choice.choice_image }}" alt="{{ story_choice.choice_image_alt }}">
<br />
<p>{{story_choice.choice_text}}</p>
<hr />
<br />
<form method="POST" action="/do-choice">
    {% csrf_token %}
    <input type="hidden" readonly name="story_id" value="{{ story_choice.story_id }}">
    <input type="hidden" readonly name="choice_id" value="{{ story_choice.choice_id }}">
    {% if story_choice.prev_choice_txt != "choice" %}
    <button type="submit" name="choice" value="back">{{ story_choice.prev_choice_txt }}</button>
    {% endif %}
    <button type="submit" name="choice" value="next1">{{ story_choice.next_choice1_txt }}</button>
    <button type="submit" name="choice" value="next2">{{ story_choice.next_choice2_txt }}</button>
</form>
{% endblock %}