{% extends 'base.html' %}
{% block title %}
    Start a Story
{% endblock %}

{% block content %}
{% if story is not None %}
    <h1>{{ story.story_name|title }}</h1>

    {% if storyblocks is None %}
        <p>This story is not ready to play (missing story blocks). Please <a href="{{ story.get_edit_story_url }}">edit the story.</a></p>
    {% else %}
        {% if starting_storyblock is None %}
            <p>This story is not ready to play (you need to assign one block as the 'starting block' for this story). Please Please <a href="{{ story.get_edit_story_url }}">edit the story.</a></p>
        {% else %}
            <img src="{{ starting_storyblock.block_image }}" alt="{{ starting_storyblock.block_image_alt }}">
            <br />
            <p>{{ starting_storyblock.block_text }}</p>
            <hr />
            <br />
            <button href="/play-story/{{ starting_storyblock.next_block1_slug }}">{{ starting_storyblock.next_block1_txt }}</button>
            <button href="/play-story/{{ starting_storyblock.next_block2_slug }}">{{ starting_storyblock.next_block2_txt }}</button>
        {% endif %}
    {% endif %}

{% else %}
    
    <p>You have not chosen a story to play.</p>

{% endif %}
{% endblock %}