{% extends 'base.html' %}
{% block title %}
    View All Story Blocks
{% endblock %}

{% block content %}
{% comment %}
    Dev note: I didn't find much use for this page, but kept it in case you did!
{% endcomment %}
<ul> 
    <!-- Iterate over object_list -->
    {% for object in object_list %} 
    <!-- Display Objects -->
    <p>{{ object.story_id }}: {{object.block_slug}}</p>
    <hr/> 
    <!-- If object_list is empty  -->
    {% empty %} 
    <li>No objects yet.</li> 
    {% endfor %} 
</ul>

{% endblock %}