{% extends 'base.html' %}
{% block title %}
    All Stories
{% endblock %}

{% block content %}
<h1>Choose a story...</h1>
{% if stories %}
    <hr />
    <p>Create a new story <a href="{% url 'create-story' %}">here.</p>
    <ul>
        {% for story in stories %}
            <li>
                {{ story.story_name|title }} - <a href="{{ story.get_play_url }}">Play</a> - <a href="{{ story.get_edit_story_url }}">Edit</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <h4>You have not created any stories yet!</h4>
    <p>Create a story <a href="{% url 'create-story' %}">here.</p>
{% endif %}
{% endblock %}