{% extends 'base.html' %}
{% block title %}
    Create A Story Block
{% endblock %}

{% block content %}
{% if story is not None %}
    <h1>Creating a storyblock for {{ story.story_name|title }}...</h1>
    <a href="{{ story.get_edit_story_url }}">Back to Edit Story</a>
    <hr />
    <form method="POST" action="">
        {% csrf_token %}
        <div>
            {{ form.as_p }}
        </div>
        <input type="submit" name="create-storyblock" value="Create This Block!">
    </form>
{% else %}
{% endif %}
{% endblock %}