{% extends 'base.html' %}
{% block title %}
    Edit A Story
{% endblock %}

{% block content %}
{% if story is not None %}
    <h1>Editing {{ story.story_name|title }}...</h1>
    <a href="{{ story.get_create_storyblock_url }}">Create a story block for this story...</a>
    <br />
    <a href="{{ story.get_edit_story_properties_url }}">Change this story's properties (name, URL, active)</a>
    <hr />
    {% if storyblocks is None %}
        <p>There are no storyblocks in this story yet. Please <a href="{{ story.get_create_storyblock_url }}">create a storyblock</a> for this story.</p>
    {% else %}
        {% if new_story is True %}
            <h4>Note that you must have at least 3 storyblocks in this story to link them together.</h4>
            {% for storyblock in storyblocks %}
                <p>{{ storyblock.block_slug }}
                    <a href="{{ storyblock.get_delete_storyblock_url }}" onclick="return confirm('Are you sure?')">Delete</a> - 
                    <a href="cb-edit-unlinked-block/{{ storyblock.block_id }}">Edit</a>
                </p>
            {% endfor %}
        {% elif new_story is False %}
            {% for storyblock in storyblocks %}
                <p>{{ storyblock.block_slug }}
                    <a href="{{ storyblock.get_delete_storyblock_url }}" onclick="return confirm('Are you sure?')">Delete</a> - 
                    <a href="cb-edit-block/{{ storyblock.block_id }}">Edit</a>
                </p>
            {% endfor %}
        {% endif %}
    {% endif %}
{% else %}
    <p>You have not chosen a story to edit. Please <a href="{% url 'all-stories' %}">select a story to edit.</a></p>
{% endif %}
{% endblock %}